body {
    font-family : 'Roboto', sans-serif;
    font-size   : .875rem;
    background  : #f5f5f5;
}

a,
.btn-link,
.page-link {
    color : #212529;
}

a:hover,
.btn-link:hover {
    color           : #007bff;
    text-decoration : none;
}

.page-link:hover {
    color : #007bff;
}

.form-control,
.form-control-plaintext,
.btn, .dropdown-menu,
.input-group-text,
.custom-select,
.popover-header {
    font-size : .875rem;
}

.btn-link:focus, .btn-link.focus,
.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration : none;
}

.section-signs {
    text-align : center;
    height     : 100vh;
}

.section-signs .container {
    display : flex;
    height  : 100%;
}

.form-signs {
    text-align : center;
    width      : 100%;
    max-width  : 420px;
    padding    : 15px;
    margin     : auto;
}

.form-signs h3,
.form-signs button {
    margin-bottom : 1rem;
}
